<%= render partial: 'users/nav' %>
<div class="jumbotron">
  <div class="container-fluid">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username%>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log In" %>
    <% end %>
  </div>
</div>
