<%= render partial: 'layouts/nav' %>
<div class="container-fluid">
<table class="table table-striped text-left table-bordered">
  <thead>
    <tr>
     <th><h3>Idea</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>Category</h3></th>
      </tr>
    </thead>
    <tbody>
<tr><% @user.ideas.each do |idea| %></tr>
      <td><%= idea.title %></td>
      <td><%= idea.description %></td>
      <td><%= idea.category.name %></td>
      <td> <% @images.each do |image| %>
            <img src=<% image.url %>
            <%= image.url  %>
          <% end %></td>
    <% end %>
  </tbody>
</table>
</div>
