<%= render partial: 'layouts/nav' %>
<div class="container-fluid">
<table class="table table-striped text-left table-bordered">
  <thead>
    <tr>
     <th><h3>Idea</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>Category</h3></th>

      </tr>
    </thead>
    <tbody>
<tr>
      <td><%= @idea.title %></td>
      <td><%= @idea.description %></td>
      <td> <%= @idea.category.name %></td>
    </tr>
  </tbody>
</table>
</div>
<div class="text-center">
  <h2>Images</h2>
    <% @images.each do |image| %>
      <p><img src=<% image.url %>
      <%= image.url %>
    <% end %>
</div>
