<%= render partial: 'layouts/nav' %>
<div class="jumbotron">
  <h1>Welcome, <%= @current_user.username %></h1>
</div>

<div class="container-fluid">
  <button type="button" class="btn btn-outline-info"><%= link_to "New Idea", new_user_idea_path(@user, @idea) %></button><br>
  <br>
  <table class="table table-striped text-left table-bordered">
  <thead>
    <th>Your Ideas</th>
    <tbody>
      <tr> <% @user.ideas.each do |idea| %> </tr>
          <td><%= link_to idea.title, user_idea_path(@user, idea) %></td>
          <td><button type="button" class="btn btn-light"><%= link_to "Edit", edit_user_idea_path(idea) %></button></td>
          <td><button type="button" class="btn btn-outline-warning"><%= link_to "Delete", user_idea_path(idea), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' } %></button></td>
        <% end %>
    </tbody>
  </thead>
  </table>
</div>
