<nav class="navbar navbar-expand navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <a href="/" class = "navbar-brand">IDEABOX</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Home", user_path(@user) %> </li>
        <% if current_user.role == "admin" %>
        <li><%= link_to "Categories", admin_categories_path %></li>
        <li><%= link_to "Images", admin_images_path %></li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h2>Edit Category:</h2>
  <%= render partial: 'form' %>
</div>
