<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <a href="/" class = "navbar-brand">IDEABOX</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.role == "admin" %>
        <li><%= link_to "Categories", admin_categories_path %></li>
        <li><%= link_to "Images", admin_images_path %></li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<button type="button" class="btn btn-light"><%= link_to "New Image", new_admin_image_path %></button><br>
<br>

  <table class="table text-left table-striped table-bordered">
    <thead>
      <th>Image Index</th>
      <tbody>
        <tr><% @images.each do |image| %></tr>
            <td><%= link_to image.title, admin_image_path(image) %><br></td>
            <td><button type="button" class="btn btn-light"><%= link_to "Edit", edit_admin_image_path(image) %></button></td>
            <td><button type="button" class="btn btn-outline-warning"><%= link_to "Delete", admin_image_path(image), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' } %></button></td>
          <% end %>
      </tbody>
    </thead>
  </table>
</div>
